In [1]:
# FOLDER---> 5 files -->unique -->512 bites
import os
import string
import random
#os.mkdir("python class")
for i in range(5):
    file_name="C:\\Users\\N B SREENIVAS\\Desktop\\datascience\\ds-python\\python class\\file%d"%(i)
    f = open(file_name,"a")
    data = " "
    for i in range(512):
        data = data+random.choice(string.ascii_letters)
    f.write(data)
    f.close

In [2]:
pwd

'C:\\Users\\N B SREENIVAS\\Desktop\\datascience\\ds-python'

In [3]:
# create another list with even elements of list1
list1= list(range(1,11))
list2=[]
for i in list1:
    if i%2==0:
        list2.append(i)
print(list2)

[2, 4, 6, 8, 10]

In [4]:
#list comprehension
list3=[i for i in list1 if i%2==0]
list3

[2, 4, 6, 8, 10]

In [5]:
#input : "hello 12345"
#output:['1','2','3','4','5']5
# using list comprehension
string = input("enter a string")
list4=[(i) for i in string if(i.isdigit())]
print(list4,len(list4))

enter a stringhello123
['1', '2', '3'] 3

In [6]:
list5= list(range(1,11))
list6=list(range(11,21))
print(list5,list6)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [7]:
#o/p:1+11,2+12,..............................

In [8]:
result = [list5[i]+list6[i] for i in range(len(list5))]
result

[12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [9]:
#zip()this zip function iterates in multiple iterable objects
result=[x+y for x,y in zip(list5,list6)]
result

[12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

### lambda functions or anonymous functions

``` lambda arguments : logic```

In [10]:
s= lambda x : x**2

In [11]:
s(13)

169

In [12]:
add = lambda x,y : x**y

In [13]:
add(12,2
   )

144

### map()

In [14]:
list6 = list(range(1,11))
list6

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
result=[i*2 for i in list6]
result

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [16]:
# map(function_name,iterable object)
result= list(map(lambda i : i*2,list6))
result

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [17]:
'10 20 30'.split()

['10', '20', '30']

In [18]:
# unpacking
x,y,z=list(map(int,input("enter input:").split()))
print(x,y,z)

enter input:10 20 30
10 20 30

### filter()

In [19]:
list6

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
result=[]
for i in list6:
    if i%5==0:
        result.append(i)

result

[5, 10]

In [21]:
list(filter(lambda x: (x%5==0),list6))

[5, 10]

### reduce()

In [24]:
from functools import reduce
list1 = [1,2,3,4,5]
m = 1
for i in list1:
    m*=i
    
print(m)

120

In [25]:
reduce(lambda x,y:x*y,list1)

120